<ul class="menu">
  <li><%= link_to 'Вещи', things_path %></li>
  <li><%= link_to 'Категории', categories_path %></li>
  <li><%= link_to 'Владельцы', owners_path %></li>
  <li><%= link_to 'Хранилиша', storages_path %></li>
  <li><%= link_to 'Теги', tags_path %></li>
  <li><%= link_to 'Справочник тегов', list_tags_path %></li>
  <li><%= link_to 'Фото', photos_path %></li>
</ul>
<hr>