<%= form_with(model: tag_title, local: true) do |form| %>
  <% if tag_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag_title.errors.count, "error") %> prohibited this tag_title from being saved:</h2>

      <ul>
      <% tag_title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :tag_title_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
