<p id="notice"><%= notice %></p>

<h1>List Tags</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_titles.each do |tag_title| %>
      <tr>
        <td><%= tag_title.title %></td>
        <td><%= link_to 'Show', tag_title %></td>
        <td><%= link_to 'Edit', edit_tag_title_path(tag_title) %></td>
        <td><%= link_to 'Destroy', tag_title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List Tag', new_tag_title_path %>
